:host {
    display: block;
  }
  
  button {
    background-color: var(--color-secondary);
    border: none;
    border-radius: .3rem;
    font-size: .8rem;
    padding: 1.5em;
    cursor: pointer;
    font-weight: 700;
    width: 100%;
  }
  
  button.secondary {
    background-color: #eaecf2;
    color: #414f79;
  }
  