@import url("https://necolas.github.io/normalize.css/8.0.1/normalize.css");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
  --color-primary: #0f265c;
  --color-secondary: #f5df66;
  --color-background: #f4f6f9;
  --green-background: #eaf8f3;
  --success: #45b893;
  --red-background: #fef2f2;
  --error: #dc2626;
  font-family: "Open Sans", sans-serif;
}

body {
  height: 100vh;
}
a {
  cursor: pointer;
}
input {
  border-radius: 6px;
  border: 1px solid #ccc;
  padding: 0.6em 0.4em;
  font-size: .8rem;
}
input:focus {
  border-width: 1px;
  border-color: var(--color-primary);
}

.errorMessage {
  display: block;
  margin-top: .5rem;
  font-size: .8rem;
  color: var(--error);
}

.inputError {
  border-color: #f87171;
}

label {
  margin-bottom: .5rem;
  display: block;
  font-size: .8rem;
}
.input {
  display: flex;
  flex-direction: column;
  margin-bottom: .5rem;
}
.inputContainer {
  display: block;
}
input {
  width: 100%;
}
input:disabled, .disabled {
  color: #cacacb;
  pointer-events: none;
}
input:disabled {
  background-color: #f6f6f6;
}
